<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Login</h1>
          <button type="button" class="btn-close" (click)="onClickClose()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" formControlName="username" name="username" id="username" placeholder="name@example.com">
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" formControlName="password" name="password" id="password" placeholder="Password">
              <label for="password">Password</label>
            </div>
            <button type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">Login</button>
          </form>
          <div class="d-flex justify-content-between text-primary">
            <div><a class="link-opacity-75 link-opacity-100-hover text-decoration-none" href="#">Create an Account</a></div>
            <div><a class="link-opacity-75 link-opacity-100-hover text-decoration-none" href="#">Forget Password?</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>